/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
    width: 100%;
    overflow: hidden;

}


.hero-container {
    position: relative;
    text-align: center;
}

.hero-intro {
    height: 0px;
    position: relative;
    top: -65vh;

}

#hero h1 {
    margin: 0;
    font-family: "bd-geminis", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 96px;
    line-height: .84em;
    margin-bottom: -30px;
    margin-top: 30px;
    letter-spacing: -7px;
    color: #fff;
    // all caps
    text-transform: uppercase;
}
#hero h2 {
    margin: 10px 0 0 0;
    font-family: "lores-9-plus-wide", sans-serif;
    font-size: 24px;
    font-weight: normal;
    text-transform: uppercase;
}

#hero h1 span {
    color: var(--primary);
}

#hero h2 {
    color: rgba(255, 255, 255, 0.9);
    margin: 10px 0 0 0;
    font-size: 24px;
    font-weight: normal;
}





@media (max-width: 768px) {
    .hero-intro {
        top: -90vh;
    }
    #hero h1,
    #hero h2{
        // text-align: left;
    }
    #hero span {
        display: none;
    }

}




.heroVideo {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: 70%;
}

@media screen and (max-width:619px) {
    .heroVideo {
        object-position: 70%;
    }
}

.video-thumbnail {
    filter: blur(20px);
    transform: scale(1.1);
    transition: visibility 0ms ease 400ms;
}

//gradient at the bottom of the video container, using a pseudo element
.video-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: black;

    &:after {
        content: "";
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 100%;
        height: 20%;
        background: linear-gradient(transparent, #030211);
        transition: opacity 400ms ease;
    }
}
