/* CARDS */
.card {
    min-height: 100%;
    background: #222;
    border: 1px solid #dd2476;
    color: rgba(250, 250, 250, 0.8);
  }
  
  .card-hoverable {
    transition: .2s ease;
    z-index: 10;
  }
  
  .card-img-container {
    width: 100%;
    height: 300px;
    overflow: hidden;
  }
  
  .card-img {
    width: 100%;
  }
  
  .card-container::after {
    content: "";
  
    position: absolute;
    top: 80px;
    z-index: -1;
    width: 33%;
    height: 100%;
    opacity: 0;
    border-radius: 5px;
    transform: scale(0.75);
    -webkit-filter: blur(5vw);
    -moz-filter: blur(5vw);
    -ms-filter: blur(5vw);
    filter: blur(5vw);
    background: linear-gradient(270deg, #ff7e8b, #6d05e4);
    background-size: 200% 200%;
    animation: animateGlow 5s ease infinite;
    transition: 0.3s ease-in-out;
  }
  
  .card-hoverable:hover {
    transform: translateY(-4px);
  }
  
  .card-container:hover::after {
  
    opacity: 1;
  }
  
  @keyframes animateGlow {
    0% {
      background-position: 0% 50%;
    }
  
    50% {
      background-position: 100% 50%;
    }
  
    100% {
      background-position: 0% 50%;
    }
  }
  
  /* @media screen and (max-width:1199px) {
    
    .skills .card-container:hover::after{
  
      opacity: 0;
    }
  } */
  @media screen and (max-width:992px) {
    .card-container:hover::after {
  
      opacity: 0;
    }
  }


/*--------------------------------------------------------------
# Skills
----------------------------------------------------------------*/
.skills {
  background: linear-gradient(#030211 5%, #000000);

}

/*--------------------------------------------------------------
# Skill Icons
----------------------------------------------------------------*/

.skill-icon {
  display: inline-flex;
  padding: 3px;
  font-size: .9em;
  color: rgb(255, 255, 255);
  border-radius: 3px;
  margin: 0 3px 10px 0;
  background-color: rgb(83, 83, 83);
}

.html {
  background-color: rgb(77, 77, 77);
}

.html:after {
  content: "HTML";
}

.css {
  background-color: rgb(77, 77, 77);
}

.css:after {
  content: "CSS";
}

.javascript {
  background-color: rgb(77, 77, 77);
}

.javascript:after {
  content: "Javascript";
}

.python {
  background-color: rgb(36, 77, 111);
}

.python:after {
  content: "Python";
}

.django {
  background-color: rgb(15, 112, 88);
}

.django:after {
  content: "Django";
}

.node {
  background-color: rgb(10, 117, 0);
}

.node:after {
  content: "NodeJS";
}

.react {
  background-color: rgb(52, 154, 182);
}

.react:after {
  content: "React";
}



.websockets {
  background-color: mediumspringgreen;
}

.websockets:after {
  content: "WebSocket";
}

.ajax {
  background-color: rgb(2, 143, 224);
}

.ajax:after {
  content: "Ajax";
}

.postgresql {
  background-color: rgb(103, 40, 185);
}

.postgresql:after {
  content: "PostgreSQL";
}

.graphql {
  background-color: rgb(253, 40, 157);
}

.graphql:after {
  content: "GraphQL";
}

.redis {
  background-color: rgb(173, 18, 65);
}

.redis:after {
  content: "Redis";
}

.aws {
  background-color: rgb(223, 89, 0);
}

.aws:after {
  content: "AWS";
}

.docker {
  background-color: #002d68;
}

.docker:after {
  content: "Docker";
}

.k8 {
  background-color: #316CE6;
}

.k8:after {
  content: "Kubernetes";
}

.typescript {
  background-color: #007ACC;
}

.typescript:after {
  content: "Typescript";
}