.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: var(--primary);
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #151515;
  line-height: 0;
}

.back-to-top:hover {
  background: #151515;
}

.back-to-top:hover i {
  color: var(--primary);
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#loading-screen {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 1;
  transition: 1s opacity;
}

#loading-screen.fade-out {
  opacity: 0;
}

#loader {
  display: block;
  position: relative;

  top: 40%;
  width: 200px;
  height: 200px;
  margin: auto;


  border-radius: 50%;
  border-top: 8px solid var(--primary);
  border-right: 8px solid transparent;


  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}





/*--------------------------------------------------------------
# CANVAS
--------------------------------------------------------------*/
#canvas-container {

  background-color: rgb(48, 48, 31);

}

#canvas-container canvas {
  position: fixed;
  top: 0px;
  left: 0px;
  min-height: 100%;

  background-color: rgba(31, 31, 31, 0);
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow: hidden;

}

@media (min-width:1024px) {}

/*--------------------------------------------------------------
# Enter screen Section
--------------------------------------------------------------*/
#enter-screen {
  position: fixed;
  z-index: 999999;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
}

.fade {
  transition: 1s ease;
}


/*--------------------------------------------------------------
# SCROLL INDICATOR
--------------------------------------------------------------*/
.scroll-btn {
  position: fixed;

  height: 80px;
  width: 80px;

  font-size: 3em;

}

.scroll-btn:hover {
  color: var(--primaryDARK);

}

.scroll-btn:focus {
  box-shadow: none;

}

.scroll-indicator {
  position: relative;
  z-index: 100;

  color: var(--primary);

  animation: bounce 1s ease infinite;

}

@media (max-height: 768px) {

  .scroll-btn {
    font-size: 2.5em;
    top: 20px;
  }

}

@keyframes bounce {
  50% {
    transform: translate(-0%, -50%);
  }
}


/*--------------------------------------------------------------
# MAIN
--------------------------------------------------------------*/



/*PROJECTS */
#projects-container {
  background: linear-gradient(transparent, #030211 12.5%);

}

#projects-container .container {
  margin-top: 250px;
}


.btn-black {
  background-color: rgb(0, 0, 0);
  color: white;

}

.btn-black:hover {
  background-color: rgb(19, 19, 19);
  color: white;

}

@media (max-width: 992px) {
  .main-container {
    position: relative;
    top: -150px;

  }

  #projects-container {
    background: linear-gradient(transparent, #030211 5.5%);

  }

  #projects {
    background: linear-gradient(transparent, #030211 20.5%);

  }
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about {
  background-color: #030211;
}

.about .content h3 {
  font-weight: 700;
  font-size: 28px;
  font-family: "Poppins", sans-serif;
}

.about-me-picture {
  position: absolute;
  left: -30%;
  top: -25vw;
  width: 1000px;

}

@media (max-width:574px) {
  .about-me-picture {
    display: none;
  }
}

/*--------------------------------------------------------------
# Cta
--------------------------------------------------------------*/
.cta {

  background: linear-gradient(rgba(2, 2, 2, 0.5), rgba(0, 0, 0, 0.5)), url("../img/cta-bg.png") fixed bottom center;
  background-size: cover;
}

.cta h3 {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
}

.cta p {
  color: #fff;
}

.cta .cta-btn {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px;
  border-radius: 4px;
  transition: 0.5s;
  margin-top: 10px;
  border: 2px solid #fff;
  color: #fff;
}

.cta .cta-btn:hover {
  background: var(--primary);
  border-color: var(--primary);
  color: #151515;
}





/*HOBBIES*/
.hobby-card {
  padding: 10px;
  margin-top: 100px;
  text-align: center;
  border: 1px solid #ebebeb;
  transition: all ease-in-out 0.3s;
  background: #fff;
  flex-direction: column;


}

.hobby-card img {
  height: 300px;
  width: 300px;

}

.hobby-content {
  min-height: 300px;
  height: fit-content;
}


.hobby-card:hover {
  box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
  transform: translateY(-10px);

}



.background-container {
  width: 100%;
  background-image: linear-gradient(60deg, #ff9900dc, #f9fd002c);
  margin: 0 auto;

}


.hobby-background {
  text-align: center;
  height: 500PX;
  width: 400px;
  opacity: 100%;

}

.hobby-background2 {
  text-align: center;
  height: 300PX;
  width: 400px;
  opacity: 100%;

}

.bg-left {
  position: relative;

  left: -50px;
}

.bg-right {
  position: relative;
  right: 50px;
}

.bg-mid {
  position: absolute;
  left: 62%;
  bottom: -660px;
}

.hobby-container {
  position: relative;
  top: -300px;
  width: 100%;
  height: 300px;
}

.hobby-background img {
  height: 500px;


}

#interests h3 {
  margin-bottom: 30px;
}


@media (max-width: 1200px) {
  .hobby-content {
    min-height: 380px;
    height: fit-content;
  }
}

@media (max-width: 992px) {
  .hobby-content {
    min-height: 200px;
    height: fit-content;
  }

  .hobby-container {
    height: 800px;
  }

  .hobby-card {
    margin-top: 50px;
  }

  .hobby-background img {
    height: 500px;


  }

  .bg-left {
    position: relative;
    top: -00px;
    left: -50px;
  }

  .bg-right {
    position: relative;
    right: 50px;
    top: 00px;
  }
}

@media (max-width: 900px) {
  .hobby-container {

    height: 950px;
  }

  .bg-left {

    top: -00px;
    left: -100px;

  }


  .bg-right {
    position: relative;

    right: 50%;
    top: 1050px;
  }


}

@media (max-width: 768px) {
  .hobby-container {

    height: 900px;
  }

  .hobby-background img {
    height: 300px;


  }

  .bg-left {

    top: -00px;
    left: -100px;

  }

  .bg-right {
    position: relative;

    right: 50%;
    top: 1080px;
  }


}

@media (max-width: 320px) {
  .hobby-container {

    height: 850px;
  }

  .hobby-background img {
    display: none;


  }


}



/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  position: relative;

  background: black;
  padding: 0 0 30px 0;
  color: #fff;
  font-size: 14px;
}

#footer .copyright {
  text-align: center;
  padding-top: 30px;
}

#footer .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #fff;
}

.disclaimer {

  color: rgb(185, 185, 185);
}