:root {
  --primary: rgb(255, 15, 67);
  --primaryDARK: rgb(180, 22, 49);
}



body {
  font-family: "neue-haas-grotesk-text", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #444444;
  background: linear-gradient(#030211 100vh, #000000 130vh, black);
}

a {
  color: var(--primary);
  text-decoration: none;
}

a:hover {
  color: var(--primary);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-weight: 700;
  font-style: normal;
}


.top-buffer {
  margin-top: 150px;
}

.bot-buffer {
  margin-bottom: 150px;
}

.top-buffer-lg {
  margin-top: 300px;
}


.divider {
  overflow: hidden;
  position: relative;
  height: 100px;
  align-self: center;
  width: 100%;
  top: 30px;


}

.divider svg {
  height: 100%;
  width: 100%;
}

.container {
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 20px;
}
.main-container {
  position: relative;
  /* top: -150px; */


}